*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.logo-container {
    padding-left: 30px;
    padding-right: 35px;
}

.logo {
    margin-top: -20px;
}

nav {
    background-color: rgba(101, 116, 201, 0.11);
    padding-right: 700px;
    padding-top: 5px;
    height: 130px;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.home, .about, .services{
    text-decoration: none;
    padding-top: 50px;
    color: rgb(138, 138, 207);
}

.home:hover, .about:hover, .services:hover {
    color: rgb(63, 63, 104);
    text-decoration: underline navy solid;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

/* input {
    
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    margin-left: 100px;
    width: 100px;
    height: 20px;
}


button {
    display: flex;
    justify-content: flex-end;
    height: 34px;
    margin-top: 7px;
    padding: 0px 10px;
} */

main {
    height: 400px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0;
    margin: 0px;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2013/07/18/14/57/water-drop-164046__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    display: grid;
    grid-column: 1/2;
    background-color: rgba(142, 142, 235, 0.068);
}

hr {
    border: solid rgba(101, 116, 201, 0.11) 1px;
}

.contact-container {
    display: grid;
    grid-column: 2/3;
    font-size: 20px;
    margin: 35px 45px;
}

li {
    list-style-type: none;
}

.services-container {
    margin-top: 40px;
}

footer {
    background-color: rgba(138, 138, 207, 0.507);
    height: 50px;
    padding-top: 20px;
    padding-bottom: 48px;
    text-align: center;
    
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}

.facebook:hover, .twitter:hover, .instagram:hover, .tumblr:hover, .reddit:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #00acee;
}

.instagram:hover {
    color: #3f729b
}